@import "colors-waybar.css";

* {
  font-family: Verdana, sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin: 1px;
}

window#waybar {
  border-radius: 19px;
  background-color: rgba(0, 0, 0, 0.3);
}

tooltip {
  background: #000000;
}

#workspaces {
  margin: 1px 0 1px 1em;
}

#workspaces button {
  margin: 1px 7px;
  padding: 2px;
}

#workspaces button.focused {
  color: #a6adc8;
}

#workspaces button.urgent {
  color: #f7768e;
}

#workspaces button:hover {
  background-color: transparent;
  border-color: transparent;
}

#clock {
  padding: 0 10px;
  margin: 4px 0;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
}

#clock.date {
  margin-left: 2em;
  margin-right: 1em;
}

#temperature,
#cpu,
#memory,
#wireplumber {
  font-size: 15px;
  padding: 0 10px;
  margin: 4px 0;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

#cpu {
  border-radius: 15px 0 0 15px;
}

#wireplumber {
  border-radius: 0 15px 15px 0;
  margin-right: 2em;
}

#battery {
  background: rgba(0, 0, 0, 0.8);
  border: 0;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: transparent;
}

#tray {
  border-radius: 8px;
  margin-right: 10px;
}

#window {
  padding: 0 10px;
  margin: 4px;
  margin-left: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  font-size: 16px;
}

#temperature {
  border-radius: 8px 0 0 8px;
}

#battery {
  border-radius: 0 8px 8px 0;
}
